* {
    box-sizing: border-box;
    font-family: Consolas;
}
body {
    background-color: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
}

a {
    color: rgb(150, 150, 200);
}

.hidden {
    display: none;
}

#wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 30px;
    height: 100%;
    overflow-y: auto;
}

#menu {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-template-columns: repeat(9, max-content);
}

#markdown {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    overflow-y: auto;
}

#markdown_source {
    background-color: rgb(40, 40, 40);
    color: rgb(200, 200, 200);
}
#markdown_preview {
    overflow-y: auto;
}

button {
    min-width: 60px;
    height: 60px;
    border: 2px solid rgb(200, 200, 200);
    background: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    border-radius: 4px;
    cursor: pointer;
}

input#file_input {
    display: none;
}