* {
    box-sizing: border-box;
    font-family: system-ui;
}
body {
    background-color: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    font-size: 18px;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

a {
    color: rgb(150, 150, 200);
}

textarea {
    font-size: 18px;
}

.hidden {
    display: none;
}

button {
    min-width: 60px;
    height: 60px;
    background: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    border-radius: 4px;
    cursor: pointer;
    border: 0px;
    color: #ce34ce;
    font-size: 14px;
    text-transform: uppercase;
}
button:hover {
    background: rgb(50, 50, 50);
}

#wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 10px;
    height: 100%;
    overflow-y: auto;
}

#menu {
    width: 100%;
    position: relative;
}

#menu > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-template-columns: repeat(3, min-content);
}
#menu > ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 5;
    background-color: rgb(50, 50, 50);
    width: 180px;
}
#menu > ul ul li {
    color: #eb7aeb;
    height: 60px;
}
#menu > ul ul li button {
    width: 100%;
    text-align: left;
    padding-left: 15px;
}

#menu_wrapper {}

#menu_wrapper a {
    align-self: center;
    font-size: 10px;
    text-transform: uppercase;
}

#markdown {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    overflow-y: auto;
}

#markdown_source {
    background-color: rgb(40, 40, 40);
    color: rgb(200, 200, 200);
    padding: 16px;
}
#markdown_preview {
    background-color: rgb(40, 40, 40);
    overflow-y: auto;
    border: 1px solid rgb(145, 145, 145);
    padding: 16px;
}



input#file_input {
    display: none;
}

pre code, pre code * {
    font-family: monospace;
}